body {
    background-color: rgb(221, 194, 200);
    color: rgb(122, 121, 185);
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }

  table {
    margin: auto;
    background-color: rgb(56, 96, 119);
  }
  h1{
    display: inline;
    color: rgb(133, 172, 216);
  }

.cell {
    height: 30px;
    width: 30px; 
    background-color: gray;
}

.button-cell{
    height: 32px;
    width: 32px; 
}

.button-size{
    height: 20px; 
    margin: 20px;
    background-color: thistle;
}
.timer{
    background-color: indianred;
    color: white;
    display: inline;
    height: 100px;
    width: 150px; 
    margin: auto;
    text-align: center;
    border-radius: 30%;
    border-color: rgb(53, 53, 158);
    text-align: center;
   
}

.modal{
    background-color: rgb(0, 5, 0);
    color: wheat;
    display: none;
    margin: auto;
    position:fixed;
    margin: auto;
    width: 30%;
    height: 30%;
    z-index: 10;
    border-radius: 20%;
    vertical-align: middle;
    left: 35%;

}

.disabled{
    opacity: 0.6;
}

.lives{
    display: inline;
    margin: 20px;
    left: 40%;
}

.hint{
    padding-left: 20px;
    display: inline;
}

.smiley{
    margin: 20px;
}

.footer {  
    position: fixed;  
    left: 10px;  
    bottom: 0%;  
    right: 10px;   
    width: 95%;  
    background-color: gray;  
    color: white;  
    text-align: center;  
    }

.score{
    background-color: indianred;
    color: white;
    display: block;
    margin: 20px;
    text-align: center;
    border-color: rgb(53, 53, 158);
    text-align: center;
    min-width: 50px;
}